body, html {
    height: 100%;
}
.navbar-brand {
	font-family: 'Lobster';
	font-size: 28px;
}
.block-container {
	margin: 10px 5px;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.85);
	border: 1px solid #d3d7cf;
	border-radius: 5px;
	box-shadow: 2px 2px 6px 4px #d3d7cf;
	text-align: center;
}

header .navbar
{
    border-radius: 0px;
    background: rgb(11, 64, 33);
}
header .navbar a {
	color: #ddd!important;
}
header .navbar a:hover {
	color: white !important;
}
header .navbar .dropdown-menu a {
	color: #2e3436 !important;
}

.navbar .glyphicon {
	margin-right: 5px;
}
header .dropdown-menu {
	background: white !important;
}
header .login-form {
	padding: 7px 15px;
}

header .login-form label{
    color: #2e3436;
    font-weight: 100 !important;
}

th {
	text-align: center;
}

.file-form {
	margin: 5px auto;
	width: 400px;
}

.file-form > div {
	padding: 10px;
}

.file-form > div  .label {
	margin-left: 10px;
	font-size: 11px !important;
}

.form-container {
	width: 100%;
	text-align: center !important;
}

